<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Add Campground</h1>
    <div class="col-6 offset-3">
        <form class="needs-validation" method="post" action="/campgrounds" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Name</label>
                <input type="text" class="form-control" id="title" name="campground[title]" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="image" name="campground[image]" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="currency">$</span>
                    <input type="text" class="form-control" id="price" name="campground[price]" aria-label="Price" aria-describedby="currency" required>
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="description" name="campground[description]" rows="5" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>