<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Add Campground</h5>
                <form class="needs-validation" method="post" action="/campgrounds" enctype="multipart/form-data" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">Name</label>
                        <input type="text" class="form-control" id="title" name="campground[title]" required>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="campground[location]" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="currency">$</span>
                            <input type="text" class="form-control" id="price" name="campground[price]" aria-label="Price" aria-describedby="currency" required>
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="description" name="campground[description]" rows="5" required></textarea>
                    </div>
                    <div class="mb-3 custom-file">
                        <label for="images" class="form-label">Upload Image(s)</label>
                        <input type="file" class="custom-file-input form-control" id="images" name="campground[images]" multiple>
                        <label for="images" class="form-label mt-1 mb-0 ms-2">
                            <span class="form-file-text custom-file-label"></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Add Campground</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>