body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
        url("https://images.unsplash.com/photo-1510312305653-8ed496efae75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2148&q=80");
    background-size: cover;
    background-position: center;
}

.cover-container {
    max-width: 70vw;
}

.nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    margin-left: 1rem;
    border-bottom: .25rem solid transparent;
    transition: color .3s ease-in, border-color .3s ease-in;
}

.nav-link:hover,
.nav-link.active {
    color: rgba(255, 255, 255, .8);
    border-bottom-color: rgba(255, 255, 255, .8);
}

.btn-secondary,
.btn-secondary:hover {
    color: #333;
}